* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS";
}

body {
  background-color: #d9dcd6;
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: #2a607c;
  color: #ffffff;
  font-size: 20px;
}

a {
  display: flex;
  justify-items: flex-end;
  color: #ffffff;
  text-decoration: none;
}

.nav-bar {
  display: inline-flex;
  padding: 8px;
  margin: 0 auto;
}

h1 {
  display: inline-flex;
  justify-content: flex-start;
  font-size: 48px;
  color: #d9dcd6;
}
ul {
  list-style-type: none;
  display: inline-block;
  margin-left: 25px;
}

p {
  display: inline;
  font-size: 16px;
}

#hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

main {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
img {
  max-height: 200px;
}

h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

aside {
  display: block;
  margin: 10px auto;
  color: #ffffff;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  background-color: #2589bd;
}

h3 {
  padding: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.main {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  background-color: #0072bb;
  color: #ffffff;
}

footer {
  padding: 30px;
  clear: both;
  text-align: center;
  font-size: 20px;
}

/* 
/*Gave all the tags sematic elements 
Body
Header 
main 
Aside
Put all the tags that belong together h1,h2,h3,a,p,li so that each tag can 
work in its group with out having to do multiple lines of repeating code.
made sure the elements follow a logical structure independent of styling and positioning
also made sure the style sheet was up to date with the html file. on elements,classes and id's.
add the "alt" function to the image so others can also under stan the image.
and to finish up i put the web-page on-line. deployed.
add class main nad consolidated the style. */
